* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;

}

#loader h2 {
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-family: 'Silk Serif';
    font-weight: 100;
}

@keyframes anime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }

    45% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }

    60% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
}


.main-text span:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 200;
    transition: .4s ease-in-out;
    border: none;
}

.page5 .elem , .elem2{
    white-space: nowrap;
    overflow-x: hidden;
        margin-bottom: -50px;
}

.page5 .elem h1{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 300;
    font-size: 8vw;
    margin-right: 15px;
    display: inline-block;
    animation-name: marqueAnime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes marqueAnime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 15px));
    }
}


.page5 .elem2 {
    white-space: nowrap;
    overflow-x: hidden;
}

.page5 .elem2 h1 {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 300;
    font-size: 8vw;
    margin-right: 15px;
    display: inline-block;
    transform: translateX(-100%);
    animation-name: marqueAnime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span , .elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.number{
    font-family: "silk serif";
}

.footer-links .box h6{
    /* font-size: 2vw; */
    padding: 2.4vw 0;
}

.footer-links .box h4{
    font-size: 1.9vw;
    line-height: 27px;
}